
body{
    
    background-color:#E5DADA;
    font-size: large;
    text-decoration-color: #002642
}
#description{
    color: #E59500
}
img{
    float:left;
    width:328px;
}

.fixed_bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 20px;
    background-color: #E5DADA;
    border: 3px solid;
    font-family: Algerian;
}